server {
	# This default server just drops requests that do not have a Host header.
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	charset utf-8;

	root /var/www;
	index index.php index.html index.htm;

	location / {
		try_files $uri $uri/ /index.php?$query_string;
	}

	location = /favicon.ico { access_log off; log_not_found off; }
	location = /robots.txt	{ access_log off; log_not_found off; }
	location ~ /\. { deny all; }
	location ~* /(?:uploads|files)/.*\.php$ { deny all; }

	client_max_body_size 100m;

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	location ~ [^/]\.php(/|$) {
		fastcgi_split_path_info ^(.+?\.php)(/.*)$;
		if (!-f $document_root$fastcgi_script_name) {
			return 404;
		}
		fastcgi_pass 127.0.0.1:9000;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}

}
